{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}


<!--

Complete the implementation of quote in such a way that it allows a user to look up a stock’s current price.

Require that a user input a stock’s symbol, implemented as a text field whose name is symbol.

Submit the user’s input via POST to /quote.

Odds are you’ll want to create two new templates (e.g., quote.html and quoted.html).
When a user visits /quote via GET, render one of those templates, inside of which should be an HTML form that
submits to /quote via POST. In response to a POST, quote can render that second template, embedding within it
one or more values from lookup.


-->